@import "tailwindcss";

/* ===== Scrollbar Styling ===== */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0d1117; /* dark bg */
}

::-webkit-scrollbar-thumb {
  background: #4b5563; /* gray-600 */
  border-radius: 9999px; /* fully rounded */
}

::-webkit-scrollbar-thumb:hover {
  background: #f97316; /* orange-500 on hover */
}
